doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    br
    a(href='/users/') Go to list of users
    br
    a(href='/decks/') Go to list of decks
    br
    a(href='/api/decks/') Go to api list of decks
    br
    a(href='/testDeckAPI.html') Go to Deck API test page
    br
  body
    block content
